{% load static %}

<div class="section" id="contact-container">
    <form action="{% url 'contact' %}" method="POST" class="contact-left">
        {% csrf_token %}
        <div class="contact-left-title">
            <h2>Need more info?<br>Connect with us!</h2>
        </div>
        <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
        <input type="email" name="email" placeholder="Your Email" class="contact-inputs" required>
        <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
        <button type="submit" class="contact-btn">
            Submit
            <img src="{% static '/assets/images/arrow.png' %}" alt="arrow">
        </button>
    </form>
    <div id="response-message" class="message"></div> <!-- Message Display Area -->
    <div class="contact-right">
        <!-- You can add content or an image here -->
    </div>
</div>


