{% load static %}


<section class="features-section" id="features">
    <h1 class="section-title"><br>Why We're Your Best Choice</h1> 
    <p class="section-para">We provide energy-efficient and cost-saving solutions tailored to optimize your EV charging<br> business for maximum profitability and sustainability.</p>
</section>

<section class="slider-container">
    <div class="slider-images">
        <div class="slider-img">
            <img src="{% static 'assets/images/fleet_11.jpg' %}" alt="Fleet Management">
            <h1>Fleet Management</h1>
            <div class="details">
                <h2>Fleet Management</h2>
                <p>Fleet Management Integration & Integration</p>
            </div>
        </div>

        <div class="slider-img">
            <img src="{% static 'assets/images/maintance_22.jpg' %}" alt="Maintenance">
            <h1>Maintenance</h1>
            <div class="details">
                <h2>EV Station Maintenance</h2>
                <p>Predictive Maintenance Tools</p>
            </div>
        </div>

        <div class="slider-img active">
            <img src="{% static 'assets/images/ai_demad33.jpg' %}" alt="Demand Prediction">
            <h1>Demand Prediction</h1>
            <div class="details">
                <h2>Demand Prediction</h2>
                <p>AI-Based Demand Prediction</p>
            </div>
        </div>

        <div class="slider-img">
            <img src="{% static 'assets/images/power_station44.jpg' %}" alt="Energy Management">
            <h1>Energy Management</h1>
            <div class="details">
                <h2>Real-Time Energy Load Redistribution</h2>
                <p>Real-Time Energy Load Redistribution Effectively</p>
            </div>
        </div>
        
        <div class="slider-img">
            <img src="{% static 'assets/images/revenue_55.jpg' %}" alt="Revenue Maximization">
            <h1>Revenue Maximization</h1>
            <div class="details">
                <h2>Revenue Maximization</h2>
                <p>Data Monetization & Revenue Maximization</p>
            </div>
        </div>
    </div>
</section>
