{% load static %}

    <!-- Mission  Section: Below the video -->
    <section class="mission-section" id="mission">
        <div class="mission-left">
          <h2>Empower Your <br>EV Charging Stations </h2>
          <p>Empowering businesses to achieve zero-emission goals with advanced B2B SaaS solutions for EV charging and smart connectivity.</p>
        </div>
        <div class="mission-right">     
            <img src="{% static 'assets/images/loading-column-4077303-min.jpg' %}" alt="Hero Image">
        </div> 
      </section>   