{% load static %}



<section id="services-section">
    <div class="services-container">
        <h2 class="section-title">Our Solutions</h2>
        <p class="section-description">We provide software solutions to enhance your EV charging business efficiency.</p>
        <div class="services-grid">
            <!-- Service 1 -->
            <div class="service-card">
                <img src="{% static 'assets/images/dashbord_55.jpg' %}" alt="Service 1 Image" class="service-image">
                <h3 class="service-title">Operational Dashboard</h3>
                <p class="service-description">Unified platform for demand forecasts, energy management, and station performance,
                    ensuring energy and money savings.</p>
            </div>
            <!-- Service 2 -->
            <div class="service-card">
                <img src="{% static 'assets/images/ai_demad33.jpg' %}" alt="Service 2 Image" class="service-image">
                <h3 class="service-title">Empower Maintenance</h3>
                <p class="service-description">AI predictive tools for anomaly detection and proactive maintenance, 
                designed to predict station demand and optimize energy usage.</p>
            </div>
            <!-- Service 3 -->
            <div class="service-card">
                <img src="{% static 'assets/images/revenue_55.jpg' %}" alt="Service 3 Image" class="service-image">
                <h3 class="service-title">Dynamic Pricing</h3>
                <p class="service-description">Optimize EV charging with dynamic pricing that adapts to 
                  real-time demand, maximizing efficiency and profitability.</p>
            </div>
            <!-- Service 4 -->
            <div class="service-card">
                <img src="{% static 'assets/images/fleet_11.jpg' %}"  alt="Service 4 Image" class="service-image">
                <h3 class="service-title">Demand Prediction</h3>
                <p class="service-description">Accurately forecasting energy needs and footfall demand to optimize efficiency and
                    profitability at EV charging stations.</p>
            </div>
        </div>
    </div>
</section>
