asgiref==3.8.1
autopep8==2.3.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.4
django-cprofile-middleware==1.0.5
django-environ==0.11.2
django-silk==5.3.1
django-snakeviz-profiling==0.1.0
gprof2dot==2024.6.6
idna==3.10
mysqlclient==2.2.6
pycodestyle==2.12.1
requests==2.32.3
snakeviz==2.2.2
sqlparse==0.5.2
tomli==2.2.1
tornado==6.4.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
